*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#FFA500;
}
.container{
    max-width: 600px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    color:#FFA500;
}

.quote{
    display: inline-block;
    padding:20px 10px;
    margin:10px;
    height: 100px;
}
#sayings {
    display: block;
    height: 50px;
    margin: 0 0 20px 0;
   font-size: 22px;

}
.quote span{
   margin-top: 10px;
   display: block;
   float: right;
   margin-left: 480px;
}

.footer{
    display: flex;
    justify-content:space-between;
    margin:20px;
}
.icons i{
    padding: 10px;
    background-color: #ffa500;
    color: #fff;
    margin: 1px;
}

button{
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 10px;
}
.space{
    width:300px;
    height: 40px;
    margin: 5px auto;
    background-color: #ffffff
}